.main {
    /*margin:0px;*/
    /*min-width: min-content;*/
    /*max-width: fit-content;*/
    width: 1360px;
    /*margin: 0px 230px;*/
    margin: 0px;
    align-self: center;
}

.header {
    display:flex;
    color: white;
    background-color: rgb(52, 66, 82);
    justify-content: space-between;
    padding: 15px 200px 15px 200px;
}

.header #logo {
    font-size: 24px;
    font-weight: bold;

    align-items: center; 
}

.header #links {
    font-size:18px;

    display:flex;
    align-items: center;
    gap: 16px;
}

.main .block01 {
    display: flex;
    /*align-items: center;*/
    gap: 50px;
    color: white;
    background-color: rgb(52, 66, 82);
    padding: 100px 200px 100px 200px;
    max-height: 270px;
    width: 960px;
}

.main .block01 .content {
   display:flex;
   flex-direction: column;
   /*gap: 25px;*/
   align-items: flex-start;
   justify-content: space-between;
}

.main .block01 #title {
    display: flex;
    margin: 0px;
    font-size: 52px;
    font-weight: 800;
}

.main .block01 #text {
    display: flex;
    margin: 0px;
    font-size: 20px;
}

.main .block01 #link {
    font-size: 18px;
    font-weight: bold;

    display:flex;
    align-items: flex-start;
    background-color: rgb(0, 140, 255);
    border-radius: 7px;
    width:fit-content;
    height:fit-content;
    padding: 8px 28px;  
}

.main .block01 #pic{
   display: flex;
   margin: 0px;
   max-height: 270px;
}


.main .block02 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main .block02 #title {
    display:flex;
}

.main .block02 #list {
   
    display:flex;
}


.main .block03 {
    display: block;
    background-color: rgb(221, 226, 241);
    padding: 80px 250px;   
}

.main .block03 #text {
    font-style: italic;
    font-weight: 100;
    font-size: 40px;
    justify-items: center;
}

.main .block03 #footer {
    font-weight: 800;
    font-size: 24px;
    text-align: right;
    padding-right: 60px;
}


