.body {
    /*margin:0px;*/
    /*min-width: min-content;*/
    /*max-width: fit-content;*/
    width: 1360px;
    /*margin: 0px 230px;*/
    margin: 0px;
    align-self: center;
}

.header {
    display:flex;
    color: white;
    background-color: rgb(52, 66, 82);
    justify-content: space-between;
    padding: 15px 200px 15px 200px;
}

#header-logo {
    font-size: 24px;
    font-weight: bold;

    align-items: center; 
}

#header-links {
    font-size:18px;

    display:flex;
    align-items: center;
    gap: 16px;
}

.main-block01 {
    display: flex;
    /*align-items: center;*/
    gap: 50px;
    color: white;
    background-color: rgb(52, 66, 82);
    padding: 100px 200px 100px 200px;
    max-height: 270px;
    width: 960px;
}

.main-block01-main {
   display:flex;
   flex-direction: column;
   gap: 20px;
   align-items: flex-start;
   justify-content: center;
}

#main-block01-title {
    display: flex;
    margin: 0px;
    font-size: 48px;
    font-weight: bold;
}

#main-block01-text {
    display: flex;
    margin: 0px;
    font-size: 18px;
}

#main-block01-link {
    font-size: 16px;
    font-weight: bold;

    display:flex;
    align-items: flex-start;
    background-color: rgb(0, 140, 255);
    border-radius: 7px;
    width:fit-content;
    height:fit-content;
    padding: 8px 24px;  
}

#main-block01-img{
   display: flex;
   margin: 0px;
   max-height: 270px;
}